/*
// © Copyright 2011, William H. Prescott
*/
body {
	background-color:#ffffff; 
}
#page {
	position:relative;
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
	z-index:1;
/*
	height:600px;
	background-color:#ffff00; 
*/
}
#content {
	top:0px;
	left:0px;
	padding-left:0px;
	padding-right:0px;
	font-family:Verdana;
}

h1 {
	font-family:Verdana;
	font-size:2.0em;
	font-style:normal;
	font-weight:normal;
	padding:20px 0px 0px 0px;
	margin:0px 0px 0px 0px;
/*
	border:1px solid red;
	padding-top:30px;
	text-decoration:drop shadow;
	width:1000px;
*/
}

.languageEntryHdr {
	font-family:Verdana;
	font-size:0.8em;
	margin:20px 0px 0px 20px;
/*
	border:1px solid red;
	margin or padding: top right bottom left;
*/
}

.languageEntry {
	font-family:Verdana;
	font-size:1.0em;
	padding:0px;
	margin:0px 0px 0px 20px;
/*
	border:1px solid black;
*/
}

.promptsHdr {
	font-family:Verdana;
	font-size:0.8em;
	padding:0px 0px 0px 0px;
	margin:10px 0px 0px 0px;
/*
*/
}

.prompts {
	padding:0px;
	margin:0px;
	height:600px;
	overflow:auto;
	border:1px solid black;
/*
*/
}

.promptEntry {
	font-family:Verdana;
	font-size:0.8em;
/*
*/
}

.addPrompt {
	font-family:Verdana;
	font-size:0.8em;
	margin:20px 0px 0px 0px;
/*
*/
}

.floatclear {
	clear:both;
}

.floatleft {
	float:left;
	padding:5px;
	margin:5px;
	border:2px solid black;
/*
	border:1px solid black;
*/
}
