/*
Copyright © 2012 William H. Prescott. All Rights Reserved.

This file is part of Localization Editor.

Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.

3. The name of the author may not be used to endorse or promote products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY William H. Prescott "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

*/
body {
	background-color:#ffffff; 
}
#page {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
	z-index:1;
/*
	width:1000px;
	height:600px;
	background-color:#ffff00; 
*/
}
#content {
	top:0px;
	left:0px;
	padding:0px 0px 0px 20px;
	font-family:Verdana;
}

h1 {
	font-family:Verdana;
	font-size:2.0em;
	font-style:normal;
	font-weight:normal;
	padding:20px 0px 0px 0px;
	margin:0px 0px 0px 0px;
/*
	border:1px solid red;
	padding-top:30px;
	text-decoration:drop shadow;
	width:1000px;
*/
}
.dbSelection {
	padding:10px;
	font-size:0.8em;
}

.languageBox {
	height:800px;
	overflow-y:scroll;
	padding:5px;
	margin:5px;
	border:2px solid black;
}

.languageEntryHdr {
	font-family:Verdana;
	font-size:0.8em;
	margin:20px 0px 0px 20px;
/*
	border:1px solid red;
	margin or padding: top right bottom left;
*/
}

.languageEntry {
	font-family:Verdana;
	font-size:1.0em;
	padding:0px;
	margin:0px 0px 0px 20px;
/*
	border:1px solid black;
*/
}

.promptBox {
	height:800px;
	padding:5px;
	margin:5px;
	border:2px solid black;
}

.promptsHdr {
	font-family:Verdana;
	font-size:0.8em;
	padding:0px 0px 0px 0px;
	margin:10px 0px 0px 0px;
/*
*/
}

.prompts {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	height:600px;
	overflow-y:scroll;
	border:1px solid black;
/*
*/
}

.promptEntry {
	font-family:Verdana;
	font-size:0.8em;
	padding:0px 15px 0px 5px;
/*
	width:275px;
*/
}

.addPrompt {
	font-family:Verdana;
	font-size:0.8em;
	margin:20px 0px 0px 0px;
/*
*/
}

